<!-- File favorite.html -->
<section class="container fav-padding-top">
  <div class="fav-loader" style="display: none">
    <div class="fav-spinner">
      <div class="fav-spinner-inner">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div>
  <!-- Title favorites -->
  <h2 class="fav-title">Favorites</h2>
  <div class="fav-wrapper fav-wrap-js">
    <div class="fav-left">
      <div class="quote">
        <span class="quote-icon">
          <svg
            class="quote-icon-img"
            width="20"
            height="20"
            aria-label="running-man-icon"
          >
            <use href="./images/svg/sprite.svg#icon-run-man"></use>
          </svg>
        </span>
        <div class="quote-wrapper">
          <h3 class="quote-title">
            Quote of the day
            <span class="icon-quote">
              <svg
                class="icon-quote-img"
                width="20"
                height="20"
                aria-label="quote-icon"
              >
                <use href="./images/svg/sprite.svg#icon-inverted-commas"></use>
              </svg>
            </span>
          </h3>
          <p class="quote-text"></p>
          <p class="quote-author"></p>
        </div>
      </div>
      <div class="fav-left-bottom">
        <div class="fav-time">
          <svg
            class="fav-time-icon"
            width="20"
            height="20"
            aria-label="dumbbell-icon"
          >
            <use href="./images/svg/sprite.svg#icon-dumbbell"></use>
          </svg>
          <h3 class="fav-time-title">110 min</h3>
          <p class="fav-time-text">Daily norm of sports</p>
        </div>
        <div>
          <picture>
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/quote-images/favorites/quote-img-mobile.webp    1x,
                ./images/quote-images/favorites/quote-img-mobile@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 768px) and (max-width: 1439px)"
              srcset="
                ./images/quote-images/favorites/quote-img-tablet.webp    1x,
                ./images/quote-images/favorites/quote-img-tablet@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1440px)"
              srcset="
                ./images/quote-images/favorites/quote-img-desktop.webp    1x,
                ./images/quote-images/favorites/quote-img-desktop@2x.webp 2x
              "
              type="image/webp"
            />
            <img
              loading="lazy"
              class="fav-img"
              srcset="./images/exercises-images/women-sports@2x.jpg 2x"
              src="./images/exercises-images/women-sports.jpg"
              alt="Women talking break"
            />
          </picture>
        </div>
      </div>
    </div>
    <ul class="fav-list fav-hidden-scroll filter-list-js"></ul>
  </div>
  <div class="overlay"></div>
</section>
