<footer class="footer">
    <div class="footer container">
      <div class="footer-content">
        <div class="footer-upper">
          <div class="footer-upper-links">
            <a href="/" class="footer-logo">
              <svg class="color-logo" width="132" height="24" aria-label="logo">
                <use href="./images/svg/sprite.svg#icon-logo"></use>
              </svg>
            </a>
            <ul class="footer-socmed-list">
              <li class="footer-socmed-item">
                <a
                  href="https://www.facebook.com/goITclub/"
                  class="footer-socmed-link"
                  target="_blank"
                  rel="noopener"
                >
                  <svg
                    class="color-icon"
                    xmlns="http://www.w3.org/2000/svg"
                    width="28"
                    height="28"
                    aria-label="facebook"
                  >
                    <use href="./images/svg/sprite.svg#icon-facebook" />
                  </svg>
                </a>
              </li>
              <li class="footer-socmed-item">
                <a
                  href="https://www.instagram.com/goitclub/"
                  class="footer-socmed-link"
                  target="_blank"
                  rel="noopener"
                >
                  <svg
                    class="color-icon"
                    xmlns="http://www.w3.org/2000/svg"
                    width="28"
                    height="28"
                    aria-label="instagram"
                  >
                    <use href="./images/svg/sprite.svg#icon-instagram" />
                  </svg>
                </a>
              </li>
              <li class="footer-socmed-item">
                <a
                  href="https://www.youtube.com/c/GoIT"
                  class="footer-socmed-link"
                  target="_blank"
                  rel="noopener"
                >
                  <svg
                    class="color-icon"
                    xmlns="http://www.w3.org/2000/svg"
                    width="28"
                    height="28"
                    aria-label="youtube"
                  >
                    <use href="./images/svg/sprite.svg#icon-youtube" />
                  </svg>
                </a>
              </li>
            </ul>
          </div>
          <div class="footer-sides footer-upper-sides">
            <h4 class="footer-theme">Transforming your <em>body</em> shape with us</h4>
            <div class="footer-form-wrapper">
              <h6 class="footer-form-title">Subscribe and learn about new exercises!</h6>
              <form class="form footer-form" id="subscribe-form">
                <input id="email" type="email" class="form-input" placeholder="Email" required />
                <button class="form-lower" type="submit">Send</button>
              </form>
            </div>
          </div>
        </div>
        <div class="footer-lower">
          <div class="footer-lower-side">Your Energy. All rights reserved.</div>
          <div class="footer-sides">
            <div class="footer-lower-side">Privacy Policy / Terms of Service</div>
            <div class="footer-lower-side footer-lower-side--great">©2025</div>
          </div>
        </div>
      </div>
    </div>
  </footer>